
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
}

/* Header  flex*/
.header-conteiner {
    display: flex;
    justify-content: space-between;
}
header {
    position: fixed;
    background-color: #3f3f3f;
    background-image: url("img/background-main.png");
    width: 100%;
}
header img {
    width: 80px;
    margin-left: 50px;
}
/* Navegador */
.nav-separator {
    margin: 10px 50px 5px 0px
}
.nav-edit li{
    margin:  10px;
}
.nav-edit a{
  color: #fff;
  background-color: #c40048;
  text-decoration: none;
  font-size: 25px;
  padding: 8px 12px;
  border-radius: 50px;
  
}
.nav-edit a:hover {
    color: #c40048;
    background-color: #fff;
}
/* FIN Navegador */
/* FIN Header */

/* Main */
/* Home */
#home {
    padding-top: 110px;
    display: flex;
    justify-content: center;
}
.home-item-1{
    align-items: center;
    margin-top: 30px
}
.home-item-2 p {
    color: black;
    text-transform: capitalize;
    font-size: 25px;
    margin: 0px;
    padding: 23px;
}
.home-item-2 h3 {
    color: #c40048;
    font-size: 35px;
    margin: 0px;
    padding: 0px;

}
.img-personal {
    width: 135px;
    height: auto;
    border-radius: 90px;
}
/* FIN Home */

 /* Tecnologias */
#tecnologias-conteiner {
    background-color: #3f3f3f;
}
.teconolgoia-item-cv {
    padding-top: 20px;
}
 .teconolgoia-item-cv ul {
    text-align: center;
    margin-top: 25px;   
 }
 .tecno-color {
    color: #fff;
 }
 .teconolgoia-item-cv ul li a {
    text-decoration: none;
    padding: 15px;
    background-color: blue;
    color: #FFF;
    border-radius: 45px;
 }
 .tecnologia-item2 {
  text-align: center;
 }
 .logo-margin {
    margin-left: 100px;
 }
 .logo-lenguajes {
    width: 150px;
    text-align: center;
    margin: 0px 0px 0px 200px;
    padding-left: 160px;
 }
 /* FIN Tecnologias */

/* Servicios */
#servicios h3, p {
    color: black;
    text-align: center;
}
#servicios img {
    text-align: center;
}
.icon-servicios {
width: 70px;
}
.servicios-item-2 {
    text-align: center;
    margin-bottom: 30px;
}
.lg-4 {
    background-color: #FFF;
    float: left;
    width: 33.3%;
}
/* FIN Servicios */

/* Portafolio */
#portafolio {
    background-color: #3f3f3f;
    margin: 25px 0px;
}

#portafolio p, h3{
    color: #FFF;
    text-align: center;
    margin: 20px 0px 15px;
    padding: 20px 0px; 
}

#portafolio a img{
    width: 400px;
    padding-bottom: 20px;
}

.jobs-conteiner {
    text-align: center;
}
.jobs-conteiner a {
    margin: 10px 100px 30px;
}
/* FIN Portafolio */

        /* Contacto */
        #contacto {
            text-align: center;
        }

        #contacto h3 {
        color: black;
        margin-top: 20px;
        }

        .img-contacto{
        width: 70px;
        margin: 50px 80px;
        }
        /* Fin contacto */

/* FIN Main */

/* Footer */
footer {
    margin: 10px 0px 0px;
    padding-top: 10px;
    text-align: center;
    background-color: #3f3f3f;
}

footer p {
    color: #FFF;
}
/* FIN Footer */