
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

* {
    margin: 0;
    padding: 0;
}
.text-align-center {
    text-align: center;
}
body {
    font-family: poppins;
}

/* Header  flex*/
header img {
    width: 80px;
    margin: 0 50px;
}
/* Navegador */
.navegador{
    background-image: url(img/imagenhtml.webp);
    text-align: center;
}
.nav-edit button {
background-color: #c40048;
color: #FFF;
}
.nav-edit ul li{
    text-align: center;
}
.nav-edit ul li a{
   color: #FFF;
   font-size: 20px;
   margin: 0 15px;
   padding: 10px 60px;
   background-color: #c40048;
   border-radius: 15px;
}
.nav-edit ul li a:hover {
    color: #c40048;
    background-color: #fff;
}
/* FIN Navegador */
/* FIN Header */

/* Main */
/* Home */
#home {
    padding-top: 110px;
    display: flex;
    justify-content: center;
}
.home-item-1{
    align-items: center;
    margin: 50px 20px
}
.home-item-2 p {
    color: black;
    text-transform: capitalize;
    font-size: 25px;
    margin: 0px;
    padding: 23px;
    text-align: center;
}
.home-item-2 h3 {
    color: #c40048;
    font-size: 35px;
    margin: 0px;
    padding: 0px;

}
.img-personal {
    width: 135px;
    height: auto;
    border-radius: 90px;
}
/* FIN Home */

 /* Tecnologias */

#tecnologias-container {
    background-color: #3f3f3f;
    margin: 0 50px;
    border-radius: 45px;
}

.tecnologias-item-1 p, h3{
    color: #fff;
    text-align: center;
    padding: 0px 300px;
}
.tecnologias-item-2{
    padding: 20px 100px;
}

.teconolgoia-item-cv {
    padding-top: 20px;
}
 .teconolgoia-item-cv ul {
    text-align: center;
    margin-top: 25px;   
 }

 .teconolgoia-item-cv ul li a {
    text-decoration: none;
    padding: 15px;
    background-color: blue;
    color: #FFF;
    border-radius: 45px;
 }
/* Lenguajes */
.container-lenguajes{
    padding: 10px 0 50px 0;
}
.container-lenguajes-subitem{
    text-align: center;
}

/* fin Lenguajes */
/* FIN Tecnologias */

/* Servicios */
#servicios {
    margin: 0 50px;
}
.servicios-titulo{
padding: 50px 0 50px 0;
}
#servicios h3 {
    color: black;
    text-align: center;
}
#servicios h5 {
    text-align: center;
}
#servicios p {
    text-align: justify;
}
#servicios img {
    text-align: center;
}
.icon-servicios {
width: 70px;
}
.conteiner-servicios-item {
    margin: 30px;
}
/* FIN Servicios */

/* Portafolio */
#portafolio {
    background-color: #3f3f3f;
    margin: 25px 50px;
    padding-bottom: 35px;
    border-radius: 45px;
}

#portafolio p, h3 {
    color: #FFF;
    text-align: center;
    margin: 20px 0px 15px;
    padding: 20px 0px; 
}

#portafolio h5{
    text-align: center;
    color: #FFF;
    padding-bottom: 25px;
}

#portafolio a img{
    width: auto;
    height: 200px;
    padding-bottom: 20px;
}

.jobs-conteiner {
    text-align: center;
}
.jobs-conteiner a {
    margin: 10px 100px 30px;
}
.img-trabajo {
    border-radius: 20px;
}
/* Zoom de imagenes */
.zoom {
    background-color: white;
    transition: transform .2s;
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

.zoom:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  }
/* Fin Zoom de imagenes */
/* FIN Portafolio */

/* Redes */
#redes {
    text-align: center;
}

#redes h3 {
color: black;
margin-top: 20px;
}

.img-contacto{
width: 70px;
margin: 50px 80px;
}
/* Fin Redes */

/* FIN Main */

/* Footer */
footer {
    margin: 10px 0px 0px;
    padding-top: 10px;
    text-align: center;
    background-color: #3f3f3f;
}

footer p {
    color: #FFF;
}

footer img{
    width: 30px;
}

.footer-item-1 {
    text-align: right;
    padding: 0;
    margin: 0;
}
.footer-item-2{
    text-align: left;
    padding: 0;
    margin: 0;
}

/* FIN Footer */

/* Pagina Contacto */
  #formulario {
    background-color: #c40048;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 1100px;
    padding: 20px;
    width: 1100px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    color: #fff;
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  

  
  .placeholder {
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }

  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  

/* Fin Pagina Contacto */



/* Media Mobile */
@media only screen and (max-width:500px) {
    /* Presentacion - Backgrond con un imagen */
    #home {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home-item-1 {
        text-align: center;
    }
     /* Fin Presentacion - Backgrond con un imagen */
    
     /* Sobre mi & Tecnologias */
     .tecnologias-item-1 p, h3{
        padding: 0px 10px;
    }
    .teconolgoia-item-cv{
        padding: 20px 0;
        margin: 0;
    }
    .container-lenguajes-subitem {
        padding-top: 50px;
    }
     /* Fin Sobre mi & Tecnologias */

     #portafolio {
        background-color: #3f3f3f;
        margin: 25px 0;
        padding-bottom: 35px;
    }
    
    
    
    #portafolio a img{
        width: 100px;
        height: auto;
        padding-bottom: 20px;
    }

     .jobs-conteiner a {
        margin: 0px;
    }

     .zoom {
        width: auto;
        height: auto;
        margin: 0 auto;
      }
    
    .zoom:hover {
        -ms-transform: scale(1); 
        -webkit-transform: scale(1); 
        transform: scale(1); 
      }

     


}

/* Fin Media Mobile */

/* Media Tablet */
@media only screen and (min-width:501px) and (max-width: 980px) {
    
}

/* Fin Media Table */